html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.reverse-gradient {
  background: linear-gradient(135.57deg, #F9495C 0%, #08BBD7 100.08%);
}

.gradient {
  background: linear-gradient(135.57deg, #08BBD7 0%, #F9495C 100.08%);
}