html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.reverse-gradient {
    /*background: linear-gradient(135.57deg, #F9495C 0%, #08BBD7 100.08%);*/
}

.gradient::before {
/*    content: "";*/
/*    position: absolute;*/
/*    top:0;*/
/*    bottom:0;*/
/*    left:0;*/
/*    right:0;*/
/*    z-index:-1;*/
/*    background: linear-gradient(135.57deg, #08BBD7, #F9495C, #08BBD7, #F9495C);*/
/*    background-size: 500% 100%;*/
/*transform: scale(-1);*/
/*    !*background: linear-gradient(135.57deg, #08BBD7, #F9495C);*!*/
/*    !*background-size: 100% 100%;*!*/

}